{{ if eq .chezmoi.hostname "devct" }}
{{ join .chezmoi.sourceDir "dot_local/share/python_keyring/.devct-keyring_pass.cfg.age" | include | decrypt }}
{{ else if eq .chezmoi.hostname "cronsrv" }}
{{ join .chezmoi.sourceDir "dot_local/share/python_keyring/.cronsrv-keyring_pass.cfg.age" | include | decrypt }}
{{end}}
