if [[ $- != *i* ]] ; then
    # Shell is non-interactive.  Be done now!
    return
fi

{{ if eq .chezmoi.osRelease.id "nixos" }}
{{ else }}
if [ -f /usr/bin/fish ]; then
    exec /usr/bin/fish
fi
{{ end }}
