# programs
alias e="nvim"
alias cm="chezmoi"
alias ari="aria2c"
alias cmd="SHELL='/usr/bin/env fish' chezmoi cd"
alias sn="screen -c $HOME/.config/screen/screenrc"
alias ccat="/usr/bin/cat"
alias cat="bat --style=plain --pager=less"
alias py="python3"
alias lua="lua5.4"
alias rb="ruby"
alias ipy="ipython"

# notes aliases
alias tk="ruby $HOME/code/notes-scripts/tasks-menu-pc.rb"
alias mt="ruby $HOME/code/notes-scripts/new-meeting.rb"

{{ if stat (joinPath .chezmoi.homeDir ".local/bin/ipython") }}
alias ipy="ipython"
{{ end }}
{{ if stat (joinPath .chezmoi.homeDir ".local/bin/bpython") }}
alias bpy="bpython"
{{ end }}

# navigation
alias j="__zoxide_z"
alias ji="__zoxide_zi"

# git
alias gs="git status"

# commands
alias x="exit"
alias ms="mosh s"

# function
function nf --wraps ls --description 'show latest file in directory'
    ls -At1 . | sed '/\.DS_Store/d' | sed -n '1p'
end

function lnf --wraps ls --description 'show next to latest file in directory'
    ls -At1 . | sed '/\.DS_Store/d' | sed -n '2p'
end

# vim:syntax=fish
